<footer>
  <% if (theme.icp) { %>
  <p>ICP license: <%- theme.icp %></p>
  <% } %>
  <% if (theme.counter.enabled) { %>
  <p id="busuanzi_container_site_pv">
    Site visits <span id="busuanzi_value_site_pv">Loading...</span>
  </p>
  <% } %>
  <p>
    Powered by <a href="https://hexo.io">Hexo</a> | Theme (Modified) <a href="https://github.com/syy11cn/hexo-theme-linear">Linear</a> from <a href="https://syy11.cn">Yiyang Sun</a>
  </p>
</footer>