header
  margin: 50px auto 50px
  text-align: center
  .site-title
    margin-bottom: 20px
    a
      font-size: 2em
  .site-subtitle
    font-size: 13px
    margin-bottom: 20px
  .links
    font-size: 24px
    margin: 0
    a
      padding: 2px
      margin: 0 3px
      img
        width: 15px
        height: 15px